body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;
    text-align: center;
    margin: auto;
}

.principal, .autor {
    width: 300px;
}

.principal {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 10px 10px hsl(212, 40%, 80%);
    margin: inherit;
    margin-bottom: 15px;
    margin-top: 100px;
}

.principal img, .texto {
    padding: 10px;
}

.principal img {
    border-radius: 25px;
}

.principal .texto h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
}

.principal .texto p {
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}

.autor { 
    font-size: 11px;
    margin: inherit;
}

.autor a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

.autor a:hover {
    color: hsl(218, 44%, 22%);
}