:root {
  /* Esquema de cores */
  /* color-scheme: light dark; */

  /* Cores do modo claro */
  --azulEscuro: hsl(218, 44%, 22%);
  --cinzaEscuro: hsl(216, 15%, 48%);
  --cinzaClaro: hsl(212, 45%, 89%);
  --branco: hsl(0, 0%, 100%);

  /* Cores do modo escuro */
  --azulEscuroInvertido: hsl(218, 44%, 92%);
  --cinzaEscuroInvertido: hsl(216, 15%, 78%);
  --cinzaClaroInvertido: hsl(212, 45%, 12%);
  --brancoInvertido: hsl(0, 0%, 10%);

  /* Sombra */
  --sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

html[data-theme="light"] {
  --corFundo: var(--cinzaClaro);
  --corCard: var(--branco);
  --corTitulo: var(--azulEscuro);
  --comParagrafo: var(--cinzaEscuro);
}

html[data-theme="dark"] {
  --corFundo: var(--cinzaClaroInvertido);
  --corCard: var(--brancoInvertido);
  --corTitulo: var(--azulEscuroInvertido);
  --corParagrafo: var(--cinzaEscuroInvertido);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-color: var(--corFundo);
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.aparencia {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--corParagrafo);
  padding: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.aparencia:hover {
  background-color: var(--corCard);
  cursor: pointer;
  color: var(--corParagrafo);
}

.principal {
  background-color: var(--corCard);
  border-radius: 1.25rem;
  box-shadow: var(--sombra);
  width: 20rem;
}

.principal img {
  border-radius: 1.625rem;
  max-width: 100%;
  padding: 1rem;
}

.principal .texto {
  padding: 0.25rem 1rem 2.5rem;
}

.principal .texto h1 {
  color: var(--corTitulo);
  font-size: 1.375rem;
  line-height: 120%;
  padding: 0 1rem 1rem;
  margin: 0;
}

.principal .texto p {
  color: var(--corParagrafo);
  font-size: 0.937rem;
  letter-spacing: 0.0125rem;
  line-height: 140%;
  padding: 0 1rem;
  margin: 0;
}

/* .autor { 
    font-size: 11px;
}

.autor a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

.autor a:hover {
    color: hsl(218, 44%, 22%);
} */